<form class="form-inline md-form mr-auto mb-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="comment-form">
    <div class="form-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" formControlName="searchText"/>
        <button class="btn btn-elegant btn-rounded btn-sm my-0 waves-effect waves-light" type="submit" [disabled]="commentForm.invalid">Search</button>
    </div>
</form>

<app-movie-display *ngIf="show" [_movieData]=this.movieData ></app-movie-display>